Import libraries

In [127]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Import population data and fill NaN values with mean

In [128]:
dataset_population = pd.read_csv('dataset_population.csv')
dataset_population = dataset_population.apply(lambda x: x.fillna(pd.np.mean(x.iloc[1:])), axis=1)
dataset_population.head()

,District,1871,1881,1891,1901,1911,1921,1931,1946,1953,1963,1971,1981,2001,2012
0,Colombo,430.000000,506.500000,578.900000,690.800000,826.800000,923.100000,1081.200000,1420.300000,1708.700000,2207.400000,2672.300000,1699.2,2251.3,2309.81
1,Gampaha,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1390.9,2063.7,2294.64
2,Kalutara,145.700000,165.000000,183.600000,229.900000,279.500000,323.700000,363.800000,456.600000,523.600000,631.500000,729.500000,829.7,1066.2,1217.26
3,Kandy,232.200000,288.300000,288.400000,377.600000,408.400000,434.000000,587.700000,711.400000,840.400000,1043.600000,1188.000000,1048.3,1279.0,1369.90
4,Matale,75.200000,86.700000,76.600000,92.200000,108.400000,116.600000,129.700000,155.700000,201.000000,255.600000,314.400000,357.4,441.3,482.23

Transposing dataset

In [129]:
dataset_population.set_index('District').T.rename_axis('Year').rename_axis(None, 1).reset_index()

,Year,Colombo,Gampaha,Kalutara,Kandy,Matale,Nuwara - Eliya,Galle,Matara,Hambantota,...,Trincomalee,Kurunagala,Puttalam,Chilaw,Anuradhapura,Polannaruwa,Badulla,Monaragala,Ratnapura,Kegalle
0,1871,430.00,1916.413333,145.70,232.2,75.20,58.20,194.40,143.30,60.90,...,19.40,207.1,68.10,107.442857,63.70,260.308,129.00,288.868,92.20,105.3
1,1881,506.50,1916.413333,165.00,288.3,86.70,98.70,209.70,151.90,71.90,...,22.20,215.2,78.20,107.442857,66.10,260.308,165.70,288.868,105.90,120.0
2,1891,578.90,1916.413333,183.60,288.4,76.60,109.60,222.90,177.60,89.30,...,25.70,230.2,26.70,63.200000,75.30,260.308,159.20,288.868,108.00,150.6
3,1901,690.80,1916.413333,229.90,377.6,92.20,153.00,258.10,203.80,104.90,...,28.40,249.4,29.80,74.400000,79.10,260.308,186.70,288.868,133.00,188.8
4,1911,826.80,1916.413333,279.50,408.4,108.40,155.50,291.00,227.30,110.50,...,29.80,306.8,39.70,87.600000,86.30,260.308,216.70,288.868,166.00,242.5
5,1921,923.10,1916.413333,323.70,434.0,116.60,167.20,313.10,238.50,119.60,...,34.10,354.2,35.60,102.400000,96.50,260.308,233.90,288.868,203.00,268.8
6,1931,1081.20,1916.413333,363.80,587.7,129.70,235.80,363.60,283.30,124.40,...,37.50,397.2,35.10,114.600000,97.40,260.308,303.20,288.868,263.80,314.6
7,1946,1420.30,1916.413333,456.60,711.4,155.70,268.10,459.80,351.90,149.70,...,75.90,485.0,43.10,139.800000,139.50,260.308,372.20,288.868,343.60,401.8
8,1953,1708.70,1916.413333,523.60,840.4,201.00,325.30,524.40,413.40,191.50,...,83.90,626.9,58.80,170.100000,229.30,260.308,466.90,288.868,421.60,471.6
9,1963,2207.40,1916.413333,631.50,1043.6,255.60,397.70,641.50,514.90,274.30,...,138.50,852.6,302.50,107.442857,279.80,113.900,521.80,132.200,546.00,578.5
10,1971,2672.30,1916.413333,729.50,1188.0,314.40,450.30,735.20,586.40,340.30,...,188.20,1025.6,378.40,107.442857,388.80,163.700,615.40,193.000,661.30,654.8
11,1981,1699.20,1390.900000,829.70,1048.3,357.40,603.60,814.50,643.80,424.30,...,255.90,1211.8,492.50,107.442857,587.90,261.600,641.00,273.600,797.10,684.9
12,2001,2251.30,2063.700000,1066.20,1279.0,441.30,703.60,990.50,761.40,526.40,...,340.20,1460.2,709.70,107.442857,745.70,359.000,780.00,397.400,1015.80,785.5
13,2012,2309.81,2294.640000,1217.26,1369.9,482.23,706.59,1058.77,809.34,596.62,...,378.18,1610.3,759.78,107.442857,856.23,403.340,811.76,448.140,1082.28,836.6

In [130]:
dataset_population.describe()

,1871,1881,1891,1901,1911,1921,1931,1946,1953,1963,1971,1981,2001,2012
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,215.862469,229.724007,235.126205,256.599282,277.376205,292.433897,323.541590,375.483897,430.922359,493.165238,574.246007,579.774341,727.105495,783.507033
std,364.181035,364.141833,366.921750,369.572967,374.993085,380.016408,392.596161,422.825905,453.812184,530.609432,595.275630,419.662160,553.188634,596.992630
min,15.300000,15.600000,15.500000,15.200000,17.300000,18.700000,18.300000,23.200000,35.100000,60.100000,77.800000,77.200000,107.442857,91.950000
25%,69.875000,89.262500,79.775000,93.387500,99.812500,105.950000,115.972500,139.575000,175.450000,133.775000,189.400000,264.600000,368.600000,414.540000
50%,113.766429,120.045000,136.650000,169.850000,191.350000,218.450000,262.054000,278.484000,307.084000,291.150000,383.600000,540.200000,648.300000,677.325000
75%,225.925000,249.031000,252.781000,259.756000,290.467000,321.050000,361.550000,424.313000,486.750000,604.075000,691.525000,810.150000,939.250000,1008.135000
max,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,2207.400000,2672.300000,1699.200000,2251.300000,2309.810000

In [131]:
dataset_population.describe()

,1871,1881,1891,1901,1911,1921,1931,1946,1953,1963,1971,1981,2001,2012
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,215.862469,229.724007,235.126205,256.599282,277.376205,292.433897,323.541590,375.483897,430.922359,493.165238,574.246007,579.774341,727.105495,783.507033
std,364.181035,364.141833,366.921750,369.572967,374.993085,380.016408,392.596161,422.825905,453.812184,530.609432,595.275630,419.662160,553.188634,596.992630
min,15.300000,15.600000,15.500000,15.200000,17.300000,18.700000,18.300000,23.200000,35.100000,60.100000,77.800000,77.200000,107.442857,91.950000
25%,69.875000,89.262500,79.775000,93.387500,99.812500,105.950000,115.972500,139.575000,175.450000,133.775000,189.400000,264.600000,368.600000,414.540000
50%,113.766429,120.045000,136.650000,169.850000,191.350000,218.450000,262.054000,278.484000,307.084000,291.150000,383.600000,540.200000,648.300000,677.325000
75%,225.925000,249.031000,252.781000,259.756000,290.467000,321.050000,361.550000,424.313000,486.750000,604.075000,691.525000,810.150000,939.250000,1008.135000
max,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,1916.413333,2207.400000,2672.300000,1699.200000,2251.300000,2309.810000

Import area dataset

In [132]:
dataset_area = pd.read_csv('dataset_land_area.csv', usecols = [' / District','Land '])
# dataset_area.head()
dataset_area = dataset_area.set_index(' / District').T.rename_axis('Land').rename_axis(None, 1).reset_index().drop('Land', axis=1)
dataset_area.head()

,Sri Lanka,Western Province,Colombo,Gampaha,Kalutara,Central Province,Kandy,Matale,Nuwara Eliya,Southern Province,...,Uva Province,Badulla,Moneragala,Sabaragamuwa Province,Ratnapura,Kegalle,nan,nan,nan,nan
0,62705.0,3593.0,675.7,1340.6,1575.6,5575.0,1916.5,1952.3,1706.2,5383.0,...,8335.0,2827.3,5507.7,4921.2,3236.4,1684.8,NaN,NaN,NaN,NaN